<!doctype html>
<html>
<head>
    <title>Barista</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <h1>Honey Coffee</h1>
  <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Log In</a>
  <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Sign Up</a>
  <h2>Submit Orders</h1>
  <form action="/food" method="post">
    <input type="text" placeholder="Name" name="customer" >
    <input type="text" placeholder="Order" name="order" >
    <button type="submit">Submit</button>
  </form>
</div>
<table>
  <tr>
    <td>Americano $1.25</td>
  </tr>
  <tr>
    <td>Espresso $2.50</td>
  </tr>
  <tr>
    <td>Ristretto $3.10</td>
  </tr>
  <tr>
    <td>Mocha $4.50</td>
  </tr>
  <tr>
    <td>Latte $5.10</td>
  </tr>
</table>
<table>
  <tr>
    <td>Vienna $6.27</td>
  </tr>
  <tr>
    <td>Glace $7.80</td>
  </tr>
  <tr>
    <td>Cappuccino $8.25</td>
  </tr>
  <tr>
    <td>Macchiato $9.50</td>
  </tr>
  <tr>
    <td>Con Panna $0.95</td>
  </tr>
</table>

  <script src="main.js"></script>
</body>
</html>
